##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [3]:
#Data dibawah ini adalah empty variable dari class set
a = set()
print(type(a))

<class 'set'>

2. > Create a variable containing your name (Points : 5)

In [4]:
#Membuat perkenalan diri 
nama = 'Ratu Sondang Elishabet Sidauruk.';
print("Hallo nama saya adalah " + nama);

Hallo nama saya adalah Ratu Sondang Elishabet Sidauruk.

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [5]:
#5 benda didalam kelas dimsukkan kedalam list
my_sets = ["Meja", "Kursi", "Proyektor", "Spidol", "Papan Tulis"]
print(my_sets)

#Mencari apakah terdapat data yang dicari dalam data list
print("Kursi" in my_sets)

['Meja', 'Kursi', 'Proyektor', 'Spidol', 'Papan Tulis']
True

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [6]:
#Sebuah dictionary ditandai dengan penggunaan {}
dictonary={
    "name":['Elishabet','Daniela','Rachel','Cesya'],
    "asal":['Tangerang','Riau','Riau','Medan'],
    "age":[20,20,10,20]
}
print(dictonary)

{'name': ['Elishabet', 'Daniela', 'Rachel', 'Cesya'], 'asal': ['Tangerang', 'Riau', 'Riau', 'Medan'], 'age': [20, 20, 10, 20]}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [7]:
#Menghitung total uang yang harus dibayarkan customer persatuan elektronik
price = float(12000)
diskon = float(12000*10/100)
total = (price-diskon)
print("\nTotal yang harus dibayarkan  = %0.2f" % total)

Total yang harus dibayarkan  = 10800.00

5. > Follow the instructions in the code blocks

# List Data Operation

In [8]:
# Create list of countries in the world (total 7 countries) (Points : 5)
negara = ["Indonesia", "Jerman", "Australia", "Finlandia", "Singapura", "Inggris", "Thailand"]
print(negara)

['Indonesia', 'Jerman', 'Australia', 'Finlandia', 'Singapura', 'Inggris', 'Thailand']

In [9]:
# Get 4 countries from the first index of the list (Points : 5)
print ("4 negara awal dalam list adalah ", negara[0:4])

4 negara awal dalam list adalah  ['Indonesia', 'Jerman', 'Australia', 'Finlandia']

In [10]:
# Append new country to the list (Points : 5)
negara.append("China")
print(negara)

['Indonesia', 'Jerman', 'Australia', 'Finlandia', 'Singapura', 'Inggris', 'Thailand', 'China']

In [11]:
# Drop one country from the list (Points : 5)
negara.remove("Finlandia")
print(negara)

['Indonesia', 'Jerman', 'Australia', 'Singapura', 'Inggris', 'Thailand', 'China']

In [12]:
# Get country in the last index (Points : 5)
print ("Negara terakhir dalam list adalah ", negara[-1])

Negara terakhir dalam list adalah  China

# Dictionary Data Operation

6. >  Follow the instructions below

In [13]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [14]:
# Print all keys in customer (Points : 5)
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'age': [20, 19, 24, 39], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [15]:
# Print all customer names (Points : 5)
print(customer["name"])

['Dio', 'Eka', 'Wayu', 'Riki']

In [16]:
# Print the first customer name (Points : 5)
nama = (customer["name"])
print(nama[0:1])

['Dio']

In [17]:
# Drop "age" key from the dictionary (Points : 5)
del (customer["age"])
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [18]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 
customer.update ({"gender":['Male','Female','Male','Female']})
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': ['Male', 'Female', 'Male', 'Female'], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}